/* src/assets/styles/contact.css */
.contact {
  padding: 5rem 2rem;
  background-color: #ffffff;
  color: #0b1b3a;
  text-align: center;
     min-height: 100vh; 
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.booking-btn {
  background: #f1c40f;
  color: #0b1b3a;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}